<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 仅对Android 9及以下版本需要  保存截图 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name="com.lygttpod.android.auto.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAuto"
        tools:targetApi="31">
        <activity
            android:name="com.lygttpod.android.auto.notification.LockScreenActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.AlarmDialog.xpq"
            android:turnScreenOn="true">
        </activity>

        <activity
            android:name="com.lygttpod.android.auto.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidAuto.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <service
            android:name="com.lygttpod.android.auto.notification.NotificationListenerServiceImp"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!--
     android:name=".service.WXAccessibility"
      android:name="com.google.android.accessibility.selecttospeak.SelectToSpeakService"
  -->
        <service
            android:name="com.google.android.accessibility.selecttospeak.SelectToSpeakService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/wx_accessible_service_config" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.xpqutilsFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name="com.google.android.accessibility.notification.ClearNotificationListenerServiceImp"
            tools:node="remove" />

    </application>

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />




</manifest>