<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!--android:allowBackup="false" 防止APP数据被恶意备份和恢复-->
    <!--android:usesCleartextTraffic="true" Android 9.0限制了非加密的明文流量请求，通过该方法回避-->
    <application
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name="com.google.android.accessibility.ext.activity.AliveActivity"
            android:theme="@style/easy_dialog_style"
            android:exported="true" />
        <activity
            android:name="com.google.android.accessibility.ext.donate.DonateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/PayTheme"
             />
        <activity
            android:name="com.google.android.accessibility.ext.wcapi.ZhiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/PayTheme" />
<!--        <service-->
<!--            android:name="com.google.android.accessibility.notification.NotificationListenerServiceAbstract"-->
<!--            android:exported="true"-->
<!--            android:label="@string/msgrecordtx"-->
<!--            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.service.notification.NotificationListenerService" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <service
            android:name="com.google.android.accessibility.ext.activity.AliveFGService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="true" >
            <!--<property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="foo"/>-->
        </service>
        <service
            android:name="com.google.android.accessibility.notification.ClearNotificationListenerServiceImp"
            android:exported="true"
            android:label="@string/cleartz"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.android.accessibility.ext.activity.MyDeviceAdminReceiver"
            android:description="@string/guanliyuan"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:process=":AccessibilityService"
            >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/configure_device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!--适配全面屏手机-->
        <meta-data
            android:name="android.max_aspect"
            android:value="8.1" />

        <!--解决Android P系统无法使用 HTTP API问题-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="com.google.android.accessibility.ext.utils.LibCtxProvider"
            android:authorities="${applicationId}.xpqutilsProvider"
            android:exported="false" />
    </application>
    <!-- Android 11 软件包可见性适配 -->
    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <queries>
        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" /> -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 忽略电池优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--读取敏感通知-->
    <uses-permission android:name="android.permission.RECEIVE_SENSITIVE_NOTIFICATIONS"
        tools:ignore="ProtectedPermissions" />


</manifest>